## Tuples

#in case of tuple it cant be changed,it is imutable
#### Tuple:collection of different data types separated by,and enclosed with()

In [1]:
t=(1,2,4,8,2.4,"hiii","kvsw")
t

(1, 2, 4, 8, 2.4, 'hiii', 'kvsw')

In [2]:
type(t)#to find any datatype we use type()

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
t.count("hiii")

1

In [6]:
t1=(2,3,6,7,6,9,"hi","hello","world")
type(t1)

tuple

In [7]:
t1.count(6)

2

In [8]:
t1.index("hi")

6

In [10]:
t1.index(2)

0

In [12]:
t1[0]

2

In [14]:
t1[1:]

(3, 6, 7, 6, 9, 'hi', 'hello', 'world')

In [15]:
t1.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
print(t1*2,)

(2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world', 2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world')

In [17]:
print(t+t1)

(1, 2, 4, 8, 2.4, 'hiii', 'kvsw', 2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world')

## Sets

#### It is a collection of elements seperated by , enclosed{}.set doesn't have any index ,elements are unordered.

In [22]:
se={1,4,5,6}#it accepts only integers or strings
type(se)

set

In [23]:
se={1,4,5,6,7,7}
se

{1, 4, 5, 6, 7}

In [26]:
s={"hii","apple","grapes","mango"}
print(type(s))
s

<class 'set'>

{'apple', 'grapes', 'hii', 'mango'}

In [27]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
se

{1, 4, 5, 6, 7}

In [29]:
#add
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [30]:
se.add(23)
se

{1, 4, 5, 6, 7, 23}

In [31]:
se.clear()

In [32]:
se

set()

In [42]:
set1={3,4,5,3,7,8}
set1

{3, 4, 5, 7, 8}

In [43]:
#copy
setcopy=set1.copy()
print(setcopy)
print(set1)

{3, 4, 5, 7, 8}
{3, 4, 5, 7, 8}

In [40]:
x={1,2,4,5,8,9}
y={3,88,9,6}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{1, 2, 4, 5, 8}
{88, 3, 6}

In [46]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

False
False

In [47]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [54]:
#union
x={1,2,3,4}
y={5,6,7,8}
print(x.union(y))

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
x={1,2,3,4,4}
y={5,5,6,7,8}
print(x.intersection(y))
y

set()

{5, 6, 7, 8}

In [57]:
print(x.issubset(y))

False

In [58]:
## Acessing elements in set

In [60]:
s_t={3,4,5,3,7}
for i in s_t:
    print(i,end=" ")

3 4 5 7

In [63]:
y.update(x)
y

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
y

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
#symmetric
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [65]:
z=x.symmetric_difference(y)
z

{5, 6, 7, 8}

In [66]:
x

{1, 2, 3, 4}

In [67]:
y

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
x.pop()
x

{2, 3, 4}

In [72]:
x.pop()
x

{3, 4}

In [73]:
y.remove(8)
y

{1, 2, 3, 4, 5, 6, 7}

In [74]:
y.discard(4)
y

{1, 2, 3, 5, 6, 7}

In [77]:
li=[5,8,9,9,10,5,3]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [5, 8, 9, 9, 10, 5, 3]
<class 'set'> {3, 5, 8, 9, 10}

In [ ]:
#user input 5 6 7 8 8 5
#o/p 5 6 7 8
#x=("5 6 7 8 8 5")
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5