## Tuples

#in case of tuple it cant be changed,it is imutable
#### Tuple:collection of different data types separated by,and enclosed with()

In [1]:
t=(1,2,4,8,2.4,"hiii","kvsw")
t

(1, 2, 4, 8, 2.4, 'hiii', 'kvsw')

In [2]:
type(t)#to find any datatype we use type()

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
t.count("hiii")

1

In [6]:
t1=(2,3,6,7,6,9,"hi","hello","world")
type(t1)

tuple

In [7]:
t1.count(6)

2

In [8]:
t1.index("hi")

6

In [10]:
t1.index(2)

0

In [12]:
t1[0]

2

In [14]:
t1[1:]

(3, 6, 7, 6, 9, 'hi', 'hello', 'world')

In [15]:
t1.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
print(t1*2,)

(2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world', 2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world')

In [17]:
print(t+t1)

(1, 2, 4, 8, 2.4, 'hiii', 'kvsw', 2, 3, 6, 7, 6, 9, 'hi', 'hello', 'world')

## Sets

#### It is a collection of elements seperated by , enclosed{}.set doesn't have any index ,elements are unordered.